body {
  border-left: 20px solid grey;
  border-right: 20px solid grey;
  margin: 0px;
  padding: 0px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-img {
  width: 50%;
}
.header-right-side {
  width: 25%;
}
.header-text1 {
  color: brown;
  font-size: 1.1rem;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hr {
  height: 3px;
  width: 77%;
  background-color: rgba(73, 73, 87, 0.484);
  margin-left: 0rem;
}
.contact-no {
  font-size: 2.4rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: -12px;
}
.header-text2 {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: Arial;
  font-weight: bold;
}
.nav-bar {
  background-color: brown;
  height: 50%;
  width: 100%;
}
.nav-link {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  color: aliceblue;
  position: relative;
}
.icon-toggle {
  display: none;
}
.a-tag {
  color: antiquewhite;
  font-family: Verdana, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 13px 24px;
}
.a-tag:hover:not(.active) {
  background-color: gray;
}
.contaner {
  display: flex;
  justify-content: space-evenly;
  gap: 0px;
  width: 100%;
  padding: 23px 0px 0px 0px;
}
.img-1 {
  width: 53%;
}
.img-2-bk {
  background-image: url("./Imeges/form_bg.jpg");
  height: auto;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-2-bk-top {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
}
.Question {
  background-color: brown;
  color: white;
  align-content: center;
  font-size: 29px;
  height: 42px;
  width: 170px;
}
.have {
  font-family: sans-serif;
  font-size: 23px;
  font-weight: bold;
  padding-left: 26px;
}
.Question-2 {
  font-family: sans-serif;
  color: rgb(72, 16, 171);
  font-size: 35px;
  font-weight: bolder;
  padding-left: 10px;
}
.case {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-right: 94px;
}
.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  opacity: 0.8;
  padding: 14px 0px 0px 14px;
}
.fom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  font-size: 1rem;
  padding-block: 0;
}
.inputall {
}
.mal {
  position: relative;
  left: -3px;
  margin-top: 10px;
}
.pon {
  position: relative;
  left: -5px;
  margin-top: 10px;
}
.confident-img {
  transform: rotate(10deg);
  margin-top: 10px;
  margin-right: 5px;
}
.textareas {
  margin-left: 8px;
  margin-top: 10px;
  height: 16%;
  width: 85%;
  font-weight: bold;
  font-size: 15px;
  padding: 6px 0px 10px 10px;
}
.btn-and-privacy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding-top: 20px;
}
.privacy {
  font-size: 14px;
  font-weight: bold;
  color: grey;
}
.btn-1 {
  height: 19%;
  width: 40%px;
  background-color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: none;
}

/* ///////////////////////////                  box 1 ///////////////// */
.section-main-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ist-box-main {
  width: 30%;
  align-items: center;
}
.ist-box-text-1 {
  font-size: 1rem;
  margin: 0;
}
.h1tag {
  font-size: 22px;
  margin: 0;
}
.ist-box-text-2 {
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 6px;
}
.ist-box-text-and-img {
  display: flex;
  gap: 26px;
}
.ptag {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.ptag-2 {
  margin-top: 4px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
.box-1-btn-1-main {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}
.box-1-btn-1 {
  background-color: brown;
  color: white;
  height: 28px;
  width: 32%;
  border: none;
  margin: 0px 20px 0px 0px;
}
.line-img-1 {
  width: 52%;
  height: 3px;
  margin: 0px 0px -3px 0px;
}
/* ////////////////////////// box 2 /////////////////// */
.box-2 {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box-2nd-text-1 {
  padding-top: 23px;
  margin: 7px 0px -7px 0px;
}
.box-2nd-text-2 {
  color: brown;
  margin: 0;
}
.box-2nd-div-1 {
  width: 100%;
  display: flex;
  align-items: center;
}
.box-2nd-div-1-img {
}
.box-2nd-div-1-text-3 {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
}
.ptag {
  margin-top: 12px;
  padding-top: 0;
}
.box-2nd-div-1-btn-1-main {
  float: right;
  margin: 23px 0px 0px 0px;
}
.box-1-btn-1-main-2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  padding-top: 12px;
}
.box-1-btn-1-2 {
  background-color: brown;
  color: white;
  height: 28px;
  border: none;
  margin: 0px 20px 10px 0px;
}
.line-img-2 {
  width: 100%;
  height: 3px;
  margin: 0px 0px -3px 0px;
}
.box-2nd-div-2 {
  padding: 20px 0px 0px 0px;
  width: 100%;
}
.box-2nd-div-2-text-img {
  display: flex;
  align-items: center;
}
.order-img {
}
.box-2nd-div-2-text-1 {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.box-2nd-div-2-text-2 {
  color: brown;
}
.box-2nd-div-2-text-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}
.box-1-btn-1-main-3 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0px 130px 0px 0px;
}
.box-1-btn-1-3 {
  background-color: brown;
  color: white;
  height: 28px;
  border: none;
  margin: 0px 20px 10px 0px;
}
.line-img-3 {
  width: 90%;
  height: 3px;
  margin: 0px 0px -3px 0px;
}
/* ////////////////////////             box 3 ///////////////// */
.box-3-main {
  width: 27%;
}
.box-3-img-div {
  display: flex;
  gap: 30px;
  width: 100%;
  padding-top: 26px;
}
.box-3-text-1 {
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
}
.box-3-text-2 {
  color: brown;
  font-weight: bold;
  margin: 0;
}
.box-3-text-3 {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8px;
  letter-spacing: 1px;
}
.box-1-btn-1-main-4 {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}
.box-1-btn-1-4 {
  background-color: brown;
  color: white;
  height: 30px;
  width: 40%;
  border: none;
  margin: 0px 20px 0px 0px;
}
.line-img-4 {
  width: 70%;
  height: 3px;
  margin: 0px 0px -3px 0px;
}

/* ////////////////////////////            box    3    complite ////////////// */
.shadow {
  padding: 60px 0px 0px 10px;
}
/* ///////////////////        last       //////////// */
.main-for-all {
  display: flex;
  justify-content: space-evenly;
}
.aside-main {
  padding: 0px 0px 0px 30px;
  width: 30%;
}
.aside-text-1 {
}
.aside-text-2 {
  color: brown;
}
.aside-main-text-and-img {
  display: flex;

  padding: 0px 0px 14px 14px;
}
.aside-menu-text {
  height: 60px;
  width: 240px;
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.aside-menu-text-1 {
  color: white;
  margin: 8px 0px 0px 6px;
  font-size: 22px;
}
.aside-btn-all {
  background-color: gray;
  font-size: 12px;
  font-weight: bold;
  border: none;
  color: white;
  float: right;
}
.aside-img-bullet {
}
.aside-img-bullet-and-text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 6px 8px 0px 10px;
}
.aside-text-2nd-last {
  padding: 10px 0px 0px 10px;
  font-size: medium;
  font-weight: bold;
}
.aside-last-text {
  color: rgb(206, 205, 202);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
}
.artical.main {
  padding: 0px 30px 0px 30px;
  width: 52%;
}
.artical-heading {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.artical-para {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
  font-weight: 600;
  line-height: 1.9;
  color: rgba(104, 103, 103, 0.874);
}
.aside-b-main {
  padding: 20px 0px 0px 0px;
  width: 22%;
}

.aside-b-text-1 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.aside-b-text-2 {
  color: brown;
  font-size: 22px;
}
.aside-b-text-3 {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin: -16px 0px 0px 0px;
}
.aside-b-main-btn {
  margin: -9px 0px 0px 47px;
}
.aside-b-btn {
  background-color: brown;
  height: 24px;
  width: 100px;
  color: white;
  border: none;
  padding: 0px 0px 0px 0px;
}
.aside-b-award-compny-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 24px 0px 0px 0px;
}
.aside-b-text-end {
  padding: 10px 0px 0px 36px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.aside-b-shadow-line {
  margin: -14px 0px 0px -10px;
}
.aside-b-icons {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.footers {
}
.footer-img {
  padding: 180px 0px 0px 0px;
}
