@media (max-width: 1150px) {
  .img-1 {
    height: auto;
  }
  .Question {
    font-size: 1.5rem;
    height: 30px;
  }
  .have {
    font-size: 1rem;
  }
  .Question-2 {
    font-size: 1rem;
  }
  .case {
    font-size: 1rem;
  }
  .paragraph {
    padding: 0;
    font-size: 0.4rem;
  }
  .form {
    gap: 0;
    font-size: 6px;
  }
  .textareas {
    font-size: 10px;
  }
  .btn-and-privacy {
    padding: 0;
  }
  .btn-1 {
    height: 26px;
    font-size: 1rem;
  }
}
@media (max-width: 1050px) {
  .body {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .img-1 {
    height: auto;
  }
  .header-img {
    width: 100%;
  }
  .header-right-side {
    width: auto;
  }
  .hr {
    width: auto;
  }
  .contact-no {
    color: black;
  }
  .contaner {
    flex-direction: column;
  }
  .img-1 {
    width: auto;
  }
  .img-2-bk {
    width: 100%;
    padding-block: 20px 20px;
  }
  .section-main-class {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .ist-box-main {
    width: 45%;
  }
  .box-2 {
    width: 90%;
  }
  .box-3-main {
    justify-content: center;
    width: 35%;
    align-items: center;
    gap: 30px;
  }
  .main-for-all {
    flex-wrap: wrap;
    width: 100%;
  }
  .aside-main {
    width: 27%;
  }
  .aside-menu-text-1 {
    font-size: 1rem;
  }
  .artical-main {
    width: 44%;
  }
  .aside-b-main {
    width: 35%;
    padding: 10px 6px 0px 6px;
  }
  .aside-text-2nd-last {
    font-size: 1rem;
  }
  .aside-last-text {
    flex-direction: row;
    gap: 16px;
  }
  .aside-b-award-compny-img {
    flex-direction: row;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .body {
    background-color: aquamarine;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-img {
    height: 100%;
  }
  .header-right-side {
    margin-top: 10px;
  }
  .hr {
    height: 3px;
    width: 98%;
    background-color: rgba(73, 73, 87, 0.484);
  }
  .nav-link {
    position: relative;
    background-color: rgb(55, 57, 57);
    top: 100%;
    width: 100%;
    padding-block: 20px 20px;
  }
  .nav-link.active {
    left: 30;
  }
  .icon-toggle {
    display: block;
  }
  .nav-link {
    flex-direction: column;
  }

  .contaner {
    flex-direction: column;
    align-items: center;
  }
  .img-1 {
    width: 96%;
  }
  .img-2-bk {
    width: 96%;
  }
  .section-main-class {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    padding-right: 5px;
  }
  .ist-box-main {
    width: 60%;
  }
  .box-2 {
    width: 100%;
  }
  .box-3-main {
    width: 52%;
    justify-content: center;
  }
  .main-for-all {
    align-content: center;
    width: 100%;
  }
  .main-for-all .artical-para {
    color: rgb(17, 19, 19);
    font-size: 12px;
  }
  .aside-main {
    width: 50%;
  }
  .aside-last-text {
    display: flex;
    width: 100%;
  }
  .artical-main {
    width: 55%;
    font-size: 6px;
  }
  .aside-b-main {
    width: 38%;
    padding-left: 38px;
  }
}
@media (max-width: 576px) {
  .body {
    background-color: rgb(225, 172, 48);
  }
  .header {
    width: 100%;
    height: 100%;
  }
  .header-right-side {
    width: 27%;
    padding-bottom: 13px;
  }
  .header-text1 {
    font-size: 6px;
  }
  .hr {
    width: 60%;
    margin-bottom: 14px;
  }
  .header-text2 {
    font-size: 3px;
  }
  .contact-no {
    font-size: 9px;
  }
  .section-main-class {
    flex-direction: column;
    align-items: flex-start;
  }
  .ist-box-main {
    width: 100%;
  }
  .box-2- {
    width: 100%;
  }
  .box-3-main {
    width: 100%;
  }
  .aside-b-main {
    width: 100%;
  }
  .main-for-all {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main-for-all .artical-para {
    color: rgb(15, 13, 13);
    font-size: 8px;
  }
  .aside-main {
    width: 100%;
  }
  .aside-text-2nd-last {
    font-size: 1.6rem;
  }
  .aside-last-text {
    flex-direction: row;
  }
  .artical-para {
    font-size: 1rem;
    width: 100%;
    color: yellowgreen;
  }
  .aside-b-main {
    width: 100%;
    align-items: flex-start;
  }
  .aside-b-award-compny-img {
    width: 50%;
    height: auto;
    gap: 0px;
    flex-direction: row;
    padding-right: 28px;
  }
  .aside-b-text-end,
  h3 {
    align-content: center;
  }

  .footer-img {
    padding-top: 20px;
  }
}
@media (max-width: 350px) {
  .header-text1 {
    font-size: 4px;
  }
  .hr {
    height: 1px;
    margin-top: 2px;
  }
  .contact-no {
    font-size: 5px;
  }
  .header-text2 {
    font-size: 2px;
  }
  .box-2nd-div-1 {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .box-2nd-div-2-text-img {
    flex-direction: column;
    margin-top: 20px;
  }
  .box-3-img-div {
    flex-direction: column;
    align-items: center;
  }
  .aside-main {
    width: 93%;
    padding: 0;
    margin: 0;
  }
  .aside-text-2nd-last {
    font-size: 0.9rem;
  }
  .artical-heading {
    font-size: 0.7rem;
  }
  .aside-b-main {
    align-items: center;
    width: 80%;
  }
  .aside-b-award-compny-img {
    flex-direction: column;
    padding-left: 36px;
    gap: 20px;
  }
  .aside-b-text-end {
    padding: 0px 0px 0px 40px;
  }
}
